body{
    background-attachment: fixed;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../images/banners/paisagem.jpg);
}
