///
/// 
///@author Franklin Klyk
/// 
///@email frsbatist@gmail.com
/// 
///https://github.com/franklyk   
/// 
/// 
///
/// 

@use "../lib/breakpoints" as *;
@use "../lib/vars" as *;
// @use "../lib/mixins" as *;


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: sans-serif;
}

::-webkit-scrollbar{
	background: transparent;
	width: 6px;
}

::-webkit-scrollbar-thumb{
	background: $site-color;
	border: 1px solid $site-color;	
	// border-radius: 10px;
	&:hover{
		background: #a31582;

	}
}


html,body {
	// height: 100vh;
	width: 100vw;
}

body {

	overflow-x: hidden;
}

ol,
ul {
	list-style: none;
}
a{
	text-decoration: none;
}

img{
	max-height: 100%;
	max-width: 100%;
}